#Description as optional
variable "crendital-file"{
    type = string
    description = ""
    default = ""
}

variable "provider-project"{
    type = string
    description = ""
    default = ""
}

variable "provider-region"{
    type = string
    description = ""
    default = ""
}

variable "vm-name"{
    type = string
    description = ""
    default = ""
}

variable "vm-machine_type"{
    type = string
    description = ""
    #e2-medium = 2cpu + 4gb de RAM
    #e2-standard-4 = 4cpu + 8gb de RAM    
    default = ""
}