variable "vpc_id" {
  description = "ID da VPC existente"
  type        = string
  default     = ""
}

variable "subnet_id" {
  description = "ID da Subnet existente dentro da VPC"
  type        = string
  default     = ""
}

variable "security_group_id" {
  description = "ID do Security Group existente"
  type        = string
  default     = ""
}

variable "key_name" {
  description = "Nome da Key Pair existente para acesso SSH"
  type        = string
  default     = ""
}

variable "private_ip" {
  description = "ip privado da máquina"
  type        = string
  default     = ""
}